* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

/* Header */
.nav {
    min-height: 10vh;
    display: inline-flex;
    width: 100%;
    padding: 1rem;
    align-items: self-end;
    flex-wrap: wrap;
    justify-content: flex-end;
}

ul.nav__ul {
    display: flex;
    flex: 0.1 1 1rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 0.8rem;
}

ul.nav__ul>li {
    padding-right: 1rem;
}

/* Main section */

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

main img {
    width: auto;
    margin: 7rem auto 1rem;
}

/* Input search */
#search {
    padding: 1rem 2rem;
    background: white;
    background-image: url();
    border: 1px solid rgb(224, 224, 224);
    border-radius: 2rem;
    width: 40%;
}

/* Buttons */

.section__buttons {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    padding: 2rem
}

.section__buttons-button {
    padding: 0.6rem 2rem;
    background: rgb(230, 230, 230);
    color: rgb(77, 77, 77);
    border: none;
    border-radius: 0.3rem;
    margin: 1rem 2rem;
}

/* Lang */

.section__lang {
    display: flex;
    font-size: 0.9rem;
}

.section__lang ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-weight: normal;
}

.section__lang ul>li>a {
    color: darkslateblue;
    margin: 1rem;
}

/* Footer */

footer {
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
}

footer .footer__text {
    width: 100%;
    min-height: 3rem;
    padding: 1rem;
}

/* Footer sections */

footer .footer__left {
    padding: 1rem;
    width: 30%;
    border-top: 1px solid rgb(219, 219, 219);
}

.footer__left ul {
    min-height: 2rem;
    display: flex;
    justify-content: space-around;
}

footer .footer__right {
    width: 70%;
    padding: 1rem;
    border-top: 1px solid rgb(219, 219, 219);
}

.footer__right ul {
    min-height: 2rem;
    display: flex;
    justify-content: flex-end;
}

.footer__right ul>li {
    margin-right: 2rem;
}
